:root {
  /* Colors come from http://color.wikia.com/wiki/SpongeBob */
  --spongebob-yellow: #FFF359;
  --spongebob-green: #9E9D05;
  --spongebob-brown: #5F2227;
  --spongebob-blue: #32BBF1;
}

* {
  font-family: sans-serif;
  color: var(--spongebob-brown);

}

html {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-size: 1.5rem;
  width: 80%;
  background-color: var(--spongebob-yellow);
}

div {
  margin-top: 1rem;
}

input[type="text"],
a,
.custom-button {
  outline-color: var(--spongebob-blue);
}

a {
  color: var(--spongebob-brown);
}

a:visited {
  color: var(--spongebob-blue);
}

label {
  font-weight: 550;
}

hr {
  margin: 2rem 0;
  border: 1px solid var(--spongebob-green)
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  margin-top: 1rem;
  font-size: 1.5rem;
  border-color: var(--spongebob-green);
}

input[type="submit"] {
  width: fit-content;
  margin-top: 1rem;
  align-self: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between
}

footer>* {
  font-size: 1rem;
}

#output {
  min-height: 50px;
}

.custom-button {
  font-size: 16px;
  border: 5px groove var(--spongebob-green);
  background-color: inherit;
}

.custom-button:active {
  border-width: 2px;
  border-style: groove;
}

footer>span:last-child {
  display: flex;
  flex-direction: column;
}